$color-title: #dce5e9;
$color-text-title: #5d8fa1;
$color-text-hover: #00cc99;
$color-btn-hover: #00b487;
$color-black: #000000;
$color-heading: #c9c6b3;
$color-black-gray: #333333;
$color-white: #fefefe;
$color-brick: #b8a876;
$color-box-heading: #e4f1f7;
$color-box-info: #f3f0e8;
$color-number: #ad995c;
$color-desc: #717171;
$color-breadcrumb: #838383;
$color-background: #eaf1f4;
$color-gray-bg-1: #eaf1f4;
$color-gray-bg-2: #dae4e9;
$color-text-map: #777777;
$color-title-menu: #e8eef1;
$color-hover-accor: #dff9f2;


$font-hira: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", sans-serif;
$font-play: 'Playfair Display', serif;
$font-noto: 'Noto Serif JP', serif;
$font-meiryo: "メイリオ", Meiryo, sans-serif;